doctype html
html
    head
        title HTML
        link(rel="stylesheet", href="style.css")
    body
        #header
               h1 w3schools.com
        #navup
            ul
                li
                    a(href="") HTML
                    a(href="") CSS
                    a(href="#") JAVASCRIPT
                    a(href="#")  SQL
                    a(href="#") PHP
                    a(href="#") BOOTSTRAP
                    a(href="") HOW TO
                    a(href="#") PUTHON
                    a(href="#") W3.CSS
                    a(href="#") JQUERY
                    a(href="#") XML
                    a(href="#") JQUERY

        #navleft
            h1 HTML5 Tutorial
            a(href="..") HTML HOME
            a#verde(href="/learnhtml") HTML Introduction
            a(href="/learncss") HTML Editors
            a(href="") HTML Basic
            a(href="") HTML Elemnts
            a(href="") HTML Attributes
            a(href="") HTML Headings
            a(href="") HTML Paragraphs
            a(href="") HTML Style
            a(href="") HTML Formatting
            a(href="") HTML Quatations
            a(href="") HTML Commentsa
            a(href="") HTML Colors
            a(href="") HTML CSS     
            a(href="") HTML Links
            a(href="") HTML Iamges
            a(href="") HTML Tables
            h1 HTML Forms
            a(href="") HTML Forms
            a(href="") HTML Form Elements
            a(href="") HTML Input Types
            a(href="") HTML Input Attributes
            h1 HTML 5
            a(href="") HTML5 Intro
            a(href="") HTML5 Support
            a(href="") HTML5 New Elements
            a(href="") HTML5 Semantics
            a(href="") Learn SQL
            a(href="") Learn Teamplates
            a(href="") Learn PHP 5
            a(href="") Learn PHP 7
            a(href="") Learn Python
            a(href="") Learn Java
            a(href="") Learn ASP
            a(href="") Learn Node.js
            a(href="") Learn Raspberry PI
            a(href="") Learn Statics
            a(href="") Learn Certificates
            a(href="") Learn Editor
            a(href="") Learn Development
            a(href="") Learn XML
            a(href="") Learn XML AJAX
            a(href="") Learn XML DOM
            a(href="") Learn XML DTD
            a(href="") Learn XML Schema
            a(href="") Learn XSLT
            a(href="") Learn XPath
            a(href="") Learn XQuery
            h1 References
        #menu
            #first
                h1 Write HTML Using Notepad or TextEdit
                p Web pages can be created and modified by using professional HTML editors.
                p However, for learning HTML we recommend a simple text editor like Notepad (PC) or TextEdit (Mac).
                p We believe using a simple text editor is a good way to learn HTML.
                p Follow the four steps below to create your first web page with Notepad or TextEdit.
                h1 Step 1: Open Notepad (PC)
                p Windows 8 or later:
                p Open the Start Screen (the window symbol at the bottom left on your screen). Type Notepad.
                p Windows 7 or earlier:
                p Open Start > Programs > Accessories > Notepad
                h1 Step 1: Open TextEdit (Mac)
                p Open Finder > Applications > TextEdit
                p Also change some preferences to get the application to save files correctly. In Preferences > Format > choose "Plain Text"
                p Then under "Open and Save", check the box that says "Display HTML files as HTML code instead of formatted text".
                p Then open a new document to place the code.

            #second
                h1 Example
                p DOCTYPE html
                p html
                p head
                p title Page Title title
                p head
                p body
                p This is a Heading h1
                p This is a paragraph.
                p body
                p html