doctype html
html
    head
        title HTML
        link(rel="stylesheet", href="/learnhtml/style.css")
    block cool-congif
    var 
    body
        #header
               h1 w3schools.comc
        #navup
            ul
                li
                    a(href="") HTML
                    a(href="") CSS
                    a(href="#") JAVASCRIPT
                                a(href="#")  SQL
                                a(href="#") PHP
                                a(href="#") BOOTSTRAP
                                a(href="") HOW TO
                                a(href="#") PUTHON
                                a(href="#") W3.CSS
                                a(href="#") JQUERY
                                a(href="#") XML
                                a(href="#") JQUERY
        #navleft
            h1 HTML5 Tutorial
            a(href="") HTML HOME
            a(href="") HTML Introduction
            a(href="") HTML Editors
            a(href="") HTML Basic
            a(href="") HTML Elemnts
            a(href="") HTML Attributes
            a(href="") HTML Headings
            a(href="") HTML Paragraphs
            a(href="") HTML Style
            a(href="") HTML Formatting
            a(href="") HTML Quatations
            a(href="") HTML Commentsa
            a(href="") HTML Colors
            a(href="") HTML CSS     
            a(href="") HTML Links
            a(href="") HTML Iamges
            a(href="") HTML Tables
            h1 HTML Forms
            a(href="") HTML Forms
            a(href="") HTML Form Elements
            a(href="") HTML Input Types
            a(href="") HTML Input Attributes
            h1 HTML 5
            a(href="") HTML5 Intro
            a(href="") HTML5 Support
            a(href="") HTML5 New Elements
            a(href="") HTML5 Semantics
            a(href="") Learn SQL
            a(href="") Learn Teamplates
            a(href="") Learn PHP 5
            a(href="") Learn PHP 7
            a(href="") Learn Python
            a(href="") Learn Java
            a(href="") Learn ASP
            a(href="") Learn Node.js
            a(href="") Learn Raspberry PI
            a(href="") Learn Statics
            a(href="") Learn Certificates
            a(href="") Learn Editor
            a(href="") Learn Development
            a(href="") Learn XML
            a(href="") Learn XML AJAX
            a(href="") Learn XML DOM
            a(href="") Learn XML DTD
            a(href="") Learn XML Schema
            a(href="") Learn XSLT
            a(href="") Learn XPath
            a(href="") Learn XQuery
            h1 References
        #menu
            #up
                #left
                    h1 HTML5 Tutorial
                    p The language fdor building web pages
                    a(href="") LEARN HTML
                    a(href="") HTML Referance
                #right
                 #scris
                    h1 HTML Example:
                    #example
                    p !DOCTYPE html
                    p html
                    p title HTML Tutorial .title
                    p Body
                    p h1 This is a heading h1
                    p p This is paragraph p
                    p Body
                    p html