-
    var myFullName = 'Valentin Nicolae'
    var myJobTitle = 'Web Developer'
#landing-page
.landing-page
 .landing-page__wrapper
    h1.landing-page__name=myFullName
    h1.landing-page__title=myJobTitle
    ul.landing-page__social
        li.landing-page__item
            label.landing-page__label(for='')
            span(class='.my-cv__icon--map2')