doctype html
html
    head
        title Prima pagina
        link(rel="stylesheet", href="style.css")
    body
        #upa
            #header
                h1 w3sch
            #loading
                h1 
            #loadingg
                h1
            #eu
                h1 ls
            #com
                h1 .
            #q
                h1 c
            #w
                h1 o
            #e
                h1 m

            
        #navup
            ul
                li
                    a(href="/tutoriale") Tutorials
                    a(href="/example") Referances
                    a(href="#") Examples
                        li#dropdown
                            a#dropbtn(href="#") Exercices
                            #dropdown-content
                                a(href="#")  Learn Css
                                a(href="#") Learn Bootstrap
                                a(href="#") Learn w3.css
                                a(href="/html/css/Colors") Colors
                                a(href="#") Icons
                                a(href="#") Graphics
                                a(href="#") SVG
        #navleft
            h1 Html and CSS
            a(href="/LearnHTML") Learn HTML
            a(href="") Learn Css
            a(href="") Learn W3.CSS
            a(href="/html/css/Colors") Learn Colors
            a(href="") Learn Bootstrap
            a(href="") Learn Icons
            a(href="") Learn Graphics
            a(href="") Learn How To
            a(href="") Learn Sass
            h1 JavaScript
            a(href="") Learn JavaScript
            a(href="") Learn jQuery
            a(href="") Learn React
            a(href="") Learn AngularJS
            a(href="") Learn JSON
            a(href="") Learn AJAX
            a(href="") Learn W3.JS
            h1 Server Side
            a(href="") Learn SQL
            a(href="") Learn PHP 5
            a(href="") Learn PHP 7
            a(href="") Learn Python
            a(href="") Learn Java
            a(href="") Learn ASP
            a(href="") Learn Node.js
            a(href="") Learn Raspberry PI
            H1 Web Building
            a(href="") Learn Teamplates
            a(href="") Learn Statics
            a(href="") Learn Certificates
            a(href="") Learn Editor
            a(href="") Learn Development
            h1 XML Tutorials
            a(href="") Learn XML
            a(href="") Learn XML AJAX
            a(href="") Learn XML DOM
            a(href="") Learn XML DTD
            a(href="") Learn XML Schema
            a(href="") Learn XSLT
            a(href="") Learn XPath
            a(href="") Learn XQuery
            h1 References
        #menu
            #up
                #left
                    h1 HTML
                    p The language fdor building web pages
                    a(href="") LEARN HTML
                    a(href="") HTML Referance
                #right
                 #scris
                    h1 HTML Example:
                    #example
                    p !DOCTYPE html
                    p html
                    p title HTML Tutorial .title
                    p Body
                    p h1 This is a heading h1
                    p p This is paragraph p
                    p Body
                    p html

