#header {
    height: 100px;
}
#header h1 {
    color: green;
    font-size: 50px;
}
#headernav{
    height: 50px;
}
#nav a {
    border: 1px 
    font-size: 20px;
    margin-top: 5px;
    display: block;

}